*{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #272727;
    margin: auto;
    padding: auto;
}
header{
    display: flex;
    list-style: none;
    margin-right: 5vw;
    gap: 7vw;
    margin-top: 5vh;
}

.header {
    position: absolute;
    width: 825px;
    height: 549px;
    left: 551px;
    top: 199px;
    background: url(images (1).jpg);
}

.ya{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about_me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    border-collapse: separate;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
}
.youtube{
    margin-top: 20vh;
}
.youtube-1{
    display: flex;
    align-items: center;
    
}
.youtube-1 img{
    width: 50vw;
    height: 60vh;
}
.youtube-1 p{
    font-size: 2em;
    padding-left: 3em;
    text-align: center;
}


.Algoritmika{
    margin-top: 20vh;
}
.Algoritmika-1{
    display: flex;
    align-items: center;
    
}
.Algoritmika-1 img{
    width: 50vw;
    height: 60vh;
}
.Algoritmika-1 p{
    font-size: 2em;
    padding-left: 3em;
    text-align: center;
}


.GitHub{
    margin-top: 20vh;
}
.GitHub-1{
    display: flex;
    align-items: center;
    
}
.GitHub-1 img{
    width: 50vw;
    height: 60vh;
}
.GitHub-1 p{
    font-size: 2em;
    padding-left: 3em;
    text-align: center;
}

.knopka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: 2em;
}

h1{
    font-size: 3em;
    text-align: center;
    padding: auto;

}
.f1, .f2, .f3, .f4{
    height: 0px;
    width: 80vw;
    margin: auto;
    border: 1px solid white;
}


